[
 {:db/id #db/id[:db.part/user]
  :db/ident :addUID
  :db/fn #db/fn
  {:lang :clojure
   :params [db new-eid attr]
   :code (let [res (datomic.api/q
                    '[:find (max ?uid)
                      :in $ ?attr
                      :where [_ ?attr ?uid]]
                    db
                    attr)
               new-uid (inc (or (ffirst res) 0))]
           [[:db/add new-eid attr new-uid]])}}

 ;; User constructor
 {:db/id #db/id[:db.part/user]
  :db/ident :user/construct
  :db/fn #db/fn
  {:lang :clojure
   :params [db eid uname digest]
   :code
   (when-not
       (seq (d/q '[:find ?u
                   :in $ ?uname
                   :where [?u :user/uname ?uname]]
                 db uname))
     (into
      [{:db/id eid
        :user/uname uname
        :user/digest digest
        :user/created (java.util.Date.)}]
      (datomic.api/invoke db :addUID db eid :user/uid)))}}

 ;; Forum constructor
 {:db/id #db/id[:db.part/user]
  :db/ident :forum/construct
  :db/fn #db/fn
  {:lang :clojure
   :params [db eid title desc]
   :code
   [{:db/id eid
     :forum/title title
     :forum/desc desc}
    [:addUID eid :forum/uid]]}}

 ;; Post constructor
 {:db/id #db/id[:db.part/user]
  :db/ident :post/construct
  :db/fn #db/fn
  {:lang :clojure
   :params [db user-uid tuid text]
   :require [datomic.api :as d]
   :code
   (let [peid (d/tempid :db.part/user)]
     [;; Make post
      {:db/id peid
       :post/text text
       :post/created (java.util.Date.)}
      [:addUID peid :post/uid]
      ;; Append post to :topic/posts
      {:db/id (d/tempid :db.part/user)
       :topic/uid tuid
       :topic/posts peid}
      ;; Append post to :user/posts
      {:db/id (d/tempid :db.part/user)
       :user/uid user-uid
       :user/posts peid}
      ])}}
 
 ;; Topic constructor
 {:db/id #db/id[:db.part/user]
  :db/ident :topic/construct
  :db/fn #db/fn
  {:lang :clojure
   :params [db user-uid fuid title text]
   :code
   (let [teid (d/tempid :db.part/user)
         peid (d/tempid :db.part/user)
         created (java.util.Date.)]
     [;; Make topic
      {:db/id teid
       :topic/title title
       :topic/created created}
      [:addUID teid :topic/uid]
      ;; Make post
      {:db/id peid
       :post/text text
       :post/created created}
      [:addUID peid :post/uid]
      ;; Append post to :topic/posts
      [:db/add teid :topic/posts peid]
      ;; Append topic to :forum/topics
      {:db/id (d/tempid :db.part/user)
       :forum/uid fuid
       :forum/topics teid}
      ;; Append topic and post to :user/topics :user/posts
      {:db/id (d/tempid :db.part/user)
       :user/uid user-uid
       :user/topics teid}
      {:db/id (d/tempid :db.part/user)
       :user/uid user-uid
       :user/posts peid}])}}
]
